body{
  background-color: #FEF6C9;
}
header h2{
  background-color: #96C0B7;
  top: 0;
  padding: 20px;
  margin: 0;
  text-align: center;
}
footer{
  box-sizing: border-box;
  background-color: #96C0B7;
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.iconFooter a{
  padding: 5px;
  color: black;
  transition: 0.5ms;

}
.iconFooter a:hover{
  color:rgb(66, 66, 66);
  transition: 0.5ms;
}
.taskControl{
  display: flex;
  align-items: center;
  height: 50px;
}
.taskControl svg{
  width: 30px;
  padding: 5px;
}
.singleTask{
  display: flex;
  align-items: center;
}
.singleTask h3 {
  margin-right: 50px;
}